# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.mode1v3
*.mode2v3
*.perspectivev3
*.pbxuser

## Xcode patch
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

## CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/
#
# Add this line if you want to avoid checking in source code from the Pods directory
Pods/
*.xcworkspace

## Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager
.build/

## Fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate them.
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

## Bundle artifacts
*.dsl
*.ape

## Flutter
**/doc/api/
**/ios/Flutter/.last_build_id
**/ios/Flutter/export.plist
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/service_definitions.json
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

## Android Studio
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

## Other
.DS_Store

